body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/winter-picture.jpg);    
    max-width: 60%;
    padding: 0 20px;
    margin: 100px auto;
    background-size: cover;
    background-position: center;
    opacity: 0.95;
}


h1 {
    font-family: Alkatra;
    color: #081b86;
    font-size: 32px;
    font-weight: 400;    
    line-height: 1.2;
    margin-bottom: 10px;    
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(35, 35, 35);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;    
}

.date {
    font-weight: 600;
    font-family: Alkatra;
}

li::first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {   
    margin: 20px auto; 
    background: rgb(255, 253, 250);  
    width: 80%;
    border: 1px solid #041c3c;
    border-radius: 15px;
}

.weather-app {
    padding: 20px;        
}

.form-control, 
.btn.btn-primary {
    border: 1px solid #041c3c;
    border-radius: 15px;
}

.form-control {
    background-color: rgb(255, 255, 255);
}

.btn.btn-primary {
    width: 90%;
}

.overview {
    margin-bottom: 20px;
}

.info{
    font-style: italic;
    font-weight: 100;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;    
}

.weather-temperature .active:hover {
   text-decoration: none;    
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
    
}
.weather-forecast-date {
    font-size: 16px;
    opacity: 0.6;
}

.weather-forecast-temperature-min {
    opacity: 0.6;
}

.weather-forecast-temperature {
    font-size: 13px;
}

footer {
    display: block;
    text-align: center;
    margin: 15px auto;    
}

.reference {
    color: #081b86;
}

.weather-forecast-day {
 border: 1px solid #081b86;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 0;
  max-width: 14.99%;
}
